* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

window#waybar {
  padding: 0.85rem;
  background: rgba(222, 225, 126, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(222, 225, 126, 0.3);
  border-radius: 0.25rem;
}

#taskbar button,
#workspaces button {
  padding: 4px;
  border-radius: 2px;
  border: .5px solid rgba(222, 225, 126, 0.3);
  opacity: 1;
  background-color: transparent;
  color: #fff;
}


#taskbar button:hover,
#workspaces button:hover {
  border-radius: 2px;
  background-color: rgba(110, 185, 239, 0.1); 
  box-shadow: 0 0 4px rgba(110, 185, 239, 0.4);
}

#taskbar button.active,
#workspaces button.active {
  color: #fff;
  animation: gradient_linear 1.5s ease-in-out infinite alternate;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

@keyframes gradient_linear {
  0% {
    background: linear-gradient(45deg,
      rgba(110, 185, 239, 0.3),
      #6eb9ef,
      #89cdf2);
  }
  100% {
    background: linear-gradient(90deg,
      #89cdf2,
      #6eb9ef,
      rgba(110, 185, 239, 0.3));
  }
}

#taskbar button.active:hover,
#workspaces button.active:hover {
  background: #6eb9ef;
}

#workspaces button.persistent {
  color: #282828;
  border-radius: 2px;
}

#workspaces button.empty {
  color: #282828;
}

#workspaces button:not(.empty):not(.active) {
  color: #282828;
}

#workspaces button.urgent {
  color: #cc241d;
  border-radius: 2px;
}

#custom-hypridle.notactive,
#idle_inhibitor.activated {
  color: #472f92;
}
#battery {
  color: #472f92;
}

#battery.critical:not(.charging) {
  background-color: #cc241d;
  animation-name: blink;
  animation-duration: 3.0s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#bluetooth,
#clock,
#cpu,
#custom-keyboard,
#memory,
#disk,
#temperature,
#keyboard-state,
#custom-cava_mviz,
#network,
#mpris,
#window,
#pulseaudio.muted,
#pulseaudio.bluetooth,
#pulseaudio,
#custom-lock,
#custom-weather,
#custom-light_dark,
#custom-updater,
#custom-power,
#custom-menu,
#backlight
 {
  color: #6eb9ef;
}

#temperature.critical {
  background-color: #282828;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#network.disconnected,
#network.disabled {
  background-color: #fbf1c7;
  color: #282828;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
}
